body {
	/*Background-img-Hace que la imagen esté siempre al 100 sin Scroll*/
	background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	/*Font-text desde google fotns*/
	font-family: 'Roboto', sans-serif;
}

/*Contenedor del div(Texto)*/
.contentText {
	color: white;
	border-radius: 16px;
	padding: 35px;
	/*RGBA ayuda a que los colores se vean transparentosos*/
	background-color: rgba(0, 0, 0, 0.60);
	max-width: 600px;
}

/*Contenedor del tag a*/
.contentText a {
	background-color: #DB3030;
	color: white;
	text-decoration: none;
	padding: 10px 30px;
	max-width: 600px;
}

/*Espacio entre líneas del párrafo*/
.contentText p {
  line-height: 1.5;
}